<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
              crossorigin="anonymous">
        <title>Doctores</title>
    </head>
    <body>
        <nav class="navbar navbar-expand" style="background-color: #c1d6fa;">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" th:href="@{'/hospital'}">Hospitales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{'/doctor'}">Doctores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{'/paciente'}">Pacientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div style="text-align: center;"><h1>Lista de Doctores<span th:if="${name!=null}" th:text="': '+${name}"></span></h1></div>
            <hr>
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                    <th th:if="${name==null}">Hospital</th>
                    <th></th>
                    <th></th>

                </tr>
                <tr th:each="doctor,obj: ${listaDoctores}">
                    <td th:text="${obj.index+1}"> </td>
                    <td th:text="${doctor.nombre}"></td>
                    <td th:text="${doctor.especialidad}"></td>
                    <td th:if="${name==null}" th:text="${doctor.hospital.nombre}"></td>
                    <td><a class="btn btn-primary" th:href="@{'/paciente?idDoctor=' + ${doctor.id}}">Mostrar pacientes</a></td>
                    <td><a class="btn btn-success" th:href="@{'/paciente/pendiente?idDoctor=' + ${doctor.id}}">Próximas citas</a></td>
                </tr>
            </table>
        </div>
        <div style="background-color: #dae0e8;">
            <div style="padding-top: 10px; padding-bottom: 10px;" class="container">
                LAB3 @ 2023
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
                crossorigin="anonymous"></script>
    </body>
</html>